.about{
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.aboutdetails{
    font-size: 1rem;
    margin: 0 30%;
    font-weight: 600;
}
.container{
   margin: 4rem 0;
}
.name{
    font-weight: 600;
}