.get{
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size:25px;
}
.name{
    font-weight: 600;
    font-size:20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.icons{
    font-size: 1rem;
    
}
.box{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in-out;
}
.box1{
    
    margin-bottom: .5rem;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.box:hover {
    color:#127369;
    transform: scale(1.2);
    text-decoration: underline;
    text-decoration-color: #127369;
}
.box1:hover {
    color: #127369;
    transform: scale(1.2);
    text-decoration: underline;
    text-decoration-color: #127369;
}